<div class="tab-list" role="tablist">
    <button hx-get="/Tabs/tab1" class="selected" role="tab" aria-selected="false" aria-controls="tab-content">Tab 1</button>
    <button hx-get="/Tabs/tab2" role="tab" aria-selected="false" aria-controls="tab-content">Tab 2</button>
    <button hx-get="/Tabs/tab3" role="tab" aria-selected="false" aria-controls="tab-content">Tab 3</button>
</div>

<div id="tab-content" role="tabpanel" class="tab-content">
    
</div>