@page
@model ChinookHTMX.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!-- Main Content -->
<div id="content">

    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
        </div>

        <!-- Content Row -->
        <div class="row">

            <div id="tabs" hx-get="/Tabs/tab1" hx-trigger="load delay:100ms" hx-target="#tabs" hx-swap="innerHTML"></div>

            
        </div>

    </div>
    <!-- /.container-fluid -->

</div>
<!-- End of Main Content -->